---
title: Projects
layout: page
---
<section class="list">
    {% assign projects = site.projs | sort: 'order' %}
    {% for proj in projects %}
            <div class="item {% if proj.star %}star{% endif %}">
                <a class="url" href="{% if proj.externalLink %}{{ proj.externalLink }}{% else %}{{ site.url }}{{ proj.url }}{% endif %}">
                    <h3 class="title">{{ proj.title }}</h3>
                </a>
                <blockquote>{{ proj.content }}</blockquote>
            </div>
    {% endfor %}
</section>
